<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.airbnb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Airbnb"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activitys.Host.Activity.AccessibilityActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.AmenitiesActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.NIghtlyPriceActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.PropertyAndGuestActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.RoomAndSpacesActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.DescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.ListTitleActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.ChangeCoverImgActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.ListingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.ListingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Host.Activity.HostMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.TranslationActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.HealthAndSafetyActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.EditPersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.StayWhoActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.WhenStayActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>